.error {
  margin: auto;
  margin-bottom: 50px;
  width: 500px;
  text-align: center; 
  

  h1 {
    margin-bottom: 20px;
    color: red;
    font-size: 100px;
    text-transform: uppercase;
    line-height: 150px;
  }
}
