.welcome {
  font-family: Inter, sans-serif;
  background-color: #edf2ec;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 62px 0;
  }

  .leafs {
    width: 449px;
    height: 408px;
    background-image: url("../assets/img/leafs.png");
    background-repeat: no-repeat;
    background-size: contain;
  }

  .description {
    max-width: 549px;
    text-align: left;

    .heading {
      color: #717171;
      font-size: 45px;
      font-weight: 700;
      line-height: 50px;

      .highlight {
        color: #499a18;
      }
    }

    .text {
      margin: 42px 0 48px;
      color: #636060;
      line-height: 35px;
    }

    .btn-link {
      padding: 14px 27px;
      width: fit-content;
      font-size: 16px;
      line-height: 20px;
      border-radius: 10px;
      border: 2px solid #e06733;

      &:hover {
        color: #ffffff;
        background-color: #e06733;
      }
    }
  }
}
